.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.background {
  margin-top: 3rem;
  width: 40rem;
}

.withdrawButton {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

.withdrawButton:hover {
  background-color: #45a049; /* Darker green */
  transform: scale(1.05); /* Slightly larger on hover */
}

.withdrawButton:active {
  background-color: #3e8e41; /* Even darker green */
  transform: scale(0.95); /* Slightly smaller on click */
}
